cloud_id                  = "cloud id"
folder_id                 = "foledr id"
zone                      = "zone"
image_id                  = "image id"
public_key_path           = "~/.ssh/ssh.pub"
subnet_id                 = "subnet id"
service_account_key_file  = "key.json"
private_ssh_path          = "~/.ssh/ssh"
app_disk_image            = "app disk image id"
db_disk_image             = "db disk image id"
