cloud_id                  = "b1g6mvumb01q77rjasfb"
folder_id                 = "b1ggq5bpgikblcm66l3m"
zone                      = "ru-central1-a"
image_id                  = "fd8ae3nmf5ln43h1bnk5"
public_key_path           = "../../../.ssh/hw_ssh.pub"
subnet_id                 = "e9b9cuknrefurdivd43s"
service_account_key_file  = "../../../service-accs/terraform-acc-key.json"
private_ssh_path          = "../../../.ssh/hw_ssh"
app_disk_image            = "fd86kmh113t9nrf65r4m"
db_disk_image             = "fd87utkroc7cobebo52l"
